@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,500;0,700;1,700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

 .menu{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }


 .header-txt p {
    color: #d7f4f5;
    font-size: 25px;
 }

 .general {
    font-size: 25px;
    color: #020202;
    padding: 50px 0;
    text-align: center;
    background-image: url(img/cam.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 

.info-1 {
    font-size: 20px;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
    background-image: url(img/saketh-garuda-SHY-CKpYjrE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    font-style: oblique;
}

.info-2 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;
   text-align: center;
   background-color: aqua;
}

.container-global {
   width: 80%;
   max-width: 1200px;
   min-width: 480px;
   margin:0 auto;
   overflow:hidden;
}

@media (min-width: 480px) {
   
}
 





